@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #6e8ca0;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
    margin: 20px;
}