.inputBox input[type="range"] {
    appearance: none;
    background: #DCE8F8;
    background-image: linear-gradient(#00D382,#00D382); 
    height: 8px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
    background-size: 1% 100%;
    background-repeat: no-repeat;
}

.inputBox input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: 8px;
}

.inputBox input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4.5px;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background-color: #DFFDEE;
    border-radius: 50%;
    border: 2px solid #00D87A;
    box-shadow: 0px 5px 9px #505C6229;
    cursor: pointer;
}

.inputBox input[type="range"]::-moz-range-progress {
    background: #00D382;
    border-radius: 10px;
    height: 0.5rem;
}

.inputBox input[type="range"]::-moz-range-track {
    background: #DCE8F8;
    border-radius: 10px;
    height: 0.5rem;
}

.inputBox input[type=range]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: #DFFDEE;
    border: 2px solid #00D87A;
    box-shadow: 0px 5px 9px #505C6229;
    border-radius: 50%;
    cursor: pointer;
}

.inputBox input[type=range]::-ms-thumb {
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: #DFFDEE;
    border-radius: 50%;
    border: 2px solid #00D87A;
    box-shadow: 0px 5px 9px #505C6229;
    cursor: pointer;
}